<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{wofName}}</title>
</head>
<body>
<center>
    <h1>{{wofName}}</h1>
    <h2>{{wofFile}}</h2>
	<p> {{wofBoun}}</p>
</center>

<iframe src="https://whosonfirst.mapzen.com/spelunker/id/219566951/" width=100% height=300></iframe>
<iframe src="https://dl.dropboxusercontent.com/u/36281098/d3_tests/index.html" width=100% height=300></iframe>

<p>{{ urls|length }} links</p>
<ol align="left">
{% set counter = 0 -%}
{% for url in urls -%}
<li><a href="{{ url }}">{{ url }}</a></li>
{% set counter = counter + 1 -%}
{% endfor -%}
</ol>

</body>
</html>
